.super-mario {
    width: 200px;
    position: absolute;
    left: 100px;
    top: 100px;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
   top: 400px;
   left: 150px;
  }
  
  .baloon {
    width: 200px;
    position: absolute;
    left: 500px;
    top: 200px;
  }
  
  .speach {
    font-size: 18px;
    position: absolute;
    left: 508px;
    top: 225px;
    z-index: 1;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    top: 300px;
    left: 700px;
  }
  p:hover {
    background-color: green;
    
  }